.services_item
    margin: 25px 0
    font-family: $content-font-family
    padding: 25px
    border-bottom: 1px solid #ececec

.services_item:last-child
    border-bottom: 0

.services_logo
    float: left
    margin-bottom: 25px

.services_logo img
    max-width: 100%

.services_info
    clear: both

.services_info p
    margin-top: 10px
    font-size: 18px
    font-style: italic

.services_info p a
    font-family: $header-font-family
    text-decoration: none
    color: $green

.services_extra
    margin-top: 10px

.services_extra label
    cursor: pointer

.services_media_wrap, #services_media_ff, #services_media_wrx
    display: none

#services_media_ff:checked + label + .services_media_wrap, #services_media_wrx:checked + label + .services_media_wrap
    display: block

.toggle
    height: 15px
    width: 15px
    border: 1px solid $green
    position: relative
    display: inline-block
    margin-right: 5px

//.toggle_close
    height: 15px
    width: 15px
    border: 1px solid $green
    position: relative
    margin-right: 5px
    display: none

.toggle_h
    width: 11px
    height: 3px
    background: $green
    position: absolute
    top: 5px
    left: 1px

.toggle_v
    width: 3px
    height: 11px
    background: $green
    position: absolute
    top: 1px
    left: 5px

#services_media_ff:checked + label .toggle .toggle_v, #services_media_wrx:checked + label .toggle .toggle_v
    display: none
